@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}
body {
  background-color: #000;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
::selection {
  background-color: #4682a9;
  color: #000;
}
/* scroll bar */
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4682a9;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(12, 122, 150);
}

#navDiv {
  display: none;
  justify-content: space-between;
  background-color: #000000;
  position: sticky;
  top: 0;
  height: 13vh;
  z-index: 99;
}
nav {
  width: 60%;
}

#nav-ul {
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
  margin-top: 40px;
}
.nav-li {
  list-style: none;
  transition: 0.2s;
}

.nav-a {
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.nav-li:hover,
#prev-btn button:hover,
#next-btn button:hover {
  transform: scale(1.1);
}
.nav-li:active,
#prev-btn button:active,
#next-btn button:active {
  transform: scale(0.9);
}

.nav-a:hover {
  filter: drop-shadow(0px 1px 5px rgb(255, 255, 255));
}

#logo-span {
  width: 8%;
  padding-left: 5px;
}
#cart-login-div {
  display: flex;
  justify-content: space-around;
  width: 10%;
}
#cart-span,
#login-span {
  width: 50px;
  cursor: pointer;
}
#cart-span,
#login-span,
#logo-span {
  filter: drop-shadow(0 2px 5px #ffffff);
}
#products-num {
  display: none;
  background-color: red;
  color: #fff;
  position: absolute;
  text-align: center;
  top: 4%;
  right: 30%;
  border-radius: 15px;
  padding: 2%;
  width: 35%;
  height: 22%;
}
#rootDiv {
  margin: auto;
  width: 100%;
  min-height: 77vh;
  background-color: #000000;
}

#up-btn {
  background-color: #729fda;
  position: fixed;
  right: 20px;
  bottom: 30px;
  font: 3em;
  padding: 10px;
  border-radius: 25px;
  font-size: 1.5em;
}

#up-btn:hover {
  filter: drop-shadow(0 0 20px #729fda);
}

#cart {
  background-color: rgba(27, 27, 26, 0.89);
  border-radius: 3px;
  padding: 10px;
  top: 1%;
  left: 10%;
  display: none;
  position: fixed;
  flex-wrap: wrap;
  overflow: auto;
  margin: a;
  width: 80%;
  height: 95%;
  color: wheat;
  z-index: 9999;
}
#cart-close-btn {
  padding: 10px;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(255, 66, 66);
  color: wheat;
}

#products-total-container-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#cart-products-div {
  display: flex;
  flex-direction: column;
  justify-self: start;
  width: 100%;
  margin-top: 40px;
}
#cart-total-div {
  position: sticky;
  text-align: center;
  top: 1%;
  width: 100%;
}
.cart-product-div {
  display: flex;
  column-gap: 5%;
  margin: 20px;
}
.cart-product-text-div {
  width: 25%;
  display: flex;
  column-gap: 20px;
}
.cart-product-img-div {
  width: 100px;
}
.cart-product-img-div img {
  width: 100%;
  border-radius: 10px;
}
.cart-product-text-p {
  width: 200px;
}
.cart-product-input-div {
}
.cart-product-price {
  font-size: 1em;
  width: 150px;
}
#cart-empty-error,
#cart-submitted {
  display: block;
  margin: auto;
  width: 300px;
}
#total-p {
  font-size: 1.5em;
}
#car-empty-error {
  color: rgb(255, 62, 62);
  text-align: center;
}
#submit-message {
  color: rgb(53, 255, 53);
  text-align: center;
}
#car-empty-error,
#submit-message {
  font-weight: bold;
  font-size: 20px;
  margin: 20px auto;
  display: none;
}
#submit-btn {
  background-color: rgb(38, 214, 62);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
}
.cart-remove-btn {
  background-color: red;
  width: 20px;
}
#load {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 3, 3);
  z-index: 99999;
}
/* -----------------------Home------------------------------- */
#home-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#slide-div {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#prev-btn button,
#next-btn button {
  background-color: transparent;
  color: #87c5ff;
  border: none;
  border-radius: 20px;
  padding: 15px;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  transition: 0.4s;
  position: absolute;
  top: 130px;
}
#prev-btn button {
  left: 4%;
}
#next-btn button {
  right: 4%;
}
#img-div {
  width: 100%;
  text-align: center;
}
#img-div img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

#categories-div {
  display: flex;
  position: sticky;
  top: 11%;
  margin-top: 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 5%;
  row-gap: 10px;
  width: 90%;
  background-color: #49464677;
  padding: 20px;
  height: auto;
  z-index: 50;
}
.category-div button {
  padding: 10px;
  background-color: #4682a9;
  color: wheat;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  min-width: 80px;
}
#products-div {
  margin: 100px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  row-gap: 100px;
  column-gap: 10px;
  color: wheat;
}
.product-div {
  background-color: #073c5e;
  height: 350px;
  border-radius: 5px;
  overflow: hidden;
  width: 250px;
}

.product-img-div {
  width: 100%;
  height: 55%;
  overflow: hidden;
}
.product-img-div img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: 0.4s;
  cursor: pointer;
}
.product-img-div img:hover {
  transform: scale(1.2);
}
.product-img-div img:active {
  transform: scale(1);
}

.product-text-div {
  display: flex;
  margin: 10px;
  flex-direction: column;
  align-items: center;
}
.product-text-p {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.product-price {
  font-size: 16px;
}

.product-input-div {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
}

.product-input-div button {
  padding: 10px;
  background-color: #729fda;
  background-size: 150% 150%;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 10px #000;
  transition: 0.4s;
  width: 40%;
  font-size: 0.7em;
  margin: 10px;
  border-radius: 4px;
}
.product-input-div button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #000;
}

.product-input-div button:active {
  transform: scale(1);
  box-shadow: 0 0 0 #000;
}

/* --------------------------------------- */
/* -------------------about-us-------------------- */
#aboutUs-div {
  color: rgb(231, 223, 208);
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 70px;
  row-gap: -50px;
  font-size: 2vw;
  width: 100%;
  height: 100%;
}
#aboutUs-div div {
  font-family: "Righteous", cursive, "Courier New", Courier, monospace;
  margin: auto;
  width: 100%;
  height: 50%;
  text-align: center;
  line-height: auto;
  border-radius: 3px;
  filter: drop-shadow(0 0 10px wheat);
}
#div-3 b {
  font-size: 2vw;
}
/* --------------------------------------- */
/* ---------------------contact-us------------------ */
#contactUs-div {
  display: flex;
  flex-direction: column;
  color: wheat;
}
#contactUs-lottie-div {
  height: 250px;
  width: 250px;
  border-radius: 40px;
  margin: auto;
  opacity: 0.7;
}
#form-div {
  margin: auto;
}
#form-div form {
  text-align: center;
}
#form-div form input,
#form-div form textarea {
  padding: 10px;
  width: 300px;
}
#form-name-error,
#form-email-error,
#form-message-error {
  color: rgb(255, 69, 69);
  padding-bottom: 10px;
}
#success-message {
  margin-top: 15px;
  color: rgb(70, 255, 70);
}
#form-submit-btn {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}
#form-message-div textarea {
  resize: vertical;
  max-width: 400px;
  min-height: 20px;
  max-height: 150px;
}
#done-div {
  margin: auto;
  width: 150px;
}
/* --------------------------------------- */
/* --------------------footer------------------- */
footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#text-p {
  padding-top: 30px;
  font-size: 1.2em;
  color: wheat;
  text-align: center;
}
#footerDiv {
  height: 100px;
  display: none;
  background-color: #000000;
  margin-top: auto;
  border: 1px solid wheat;
  border-radius: 7px;
}

#text-div {
  width: 50%;
}

#contacts-div {
  padding-top: 8px;
  display: flex;
  width: 30%;
}
.contact img {
  width: 4vw;
  transition: 0.4s;
}

.contact img:hover {
  transform: scale(1.2);
}

/* --------------------------------------- */
@media (max-width: 950px) {
  #logo-span {
    width: 80px;
  }
  #aboutUs-div {
    height: 80vh;
  }
  #aboutUs-div div {
    font-size: 15px;
    width: 100%;
  }
  #footerDiv {
    height: 150px;
  }
  #contacts-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 5px;
    width: 60%;
  }

  .contact img {
    width: 50px;
  }
}

@media (max-width: 700px) {
  #prev-btn,
  #next-btn {
    display: none;
  }
}
